[elasticsearch]
files_index = opensearch-files
collections_index = opensearch-collections
state_index = opensearch-aggregation-state
api_key = **********

[remote]
aggregations_dir = /usr/local/aggregations
thredds_server = data.cci.ceda.ac.uk

[output]
thredds_catalog_repo_path=***
